# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# holochain
holochain
dna
tmp-storage
target
dist

# misc
.DS_Store
npm-debug.log

.vscode
.floo
.flooignore

yarn-error.log
.idea
Cargo.lock
package-lock.json
