# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/

# testing
coverage

# holochain
/dist
/holochain-rust
/target
/result
holochain
hc
sim2h_server
cas.db
*.log

# misc
.DS_Store
npm-debug.log

.vscode
.floo
.flooignore

.idea
dmg-mount
conductor-config.toml
keystores/myagent.keystore
.cargo

